@import 'common';

main {
    padding-top: 76px;   
}

.aboutHero {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: 45% 60%;
        }
        
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(-348deg, #000833 25%, #1900FF 320%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 639px) {
                width: 115%;
                right: 0%;
                opacity: 0!important;
            }
            @media (min-width: 640px) {
                // right: 68%;
                right: auto;
                width: 58%;
                left: 1100px;
            }
            @media (min-width: 1000px) {
                width: 52%;
            }
            
            @media (min-width: $large) {
                left: 1400px;
            }
            @media (min-width: $xxlarge) {
                width: 50%;
            }
           
        }
        .imageWrapper {
            @media (min-width: $xxlarge) {
                margin-left: -5%;
            }
            .inner {
                &.maskBottomLeft {
                    @media (min-width: $tablet) {
                        margin-top: 0;
                    }
                }
            }
        }
        .text {
            position: relative;
            .inner {
                @media (min-width: $large) {
                    max-width: 640px;
                }
                h1 {
                    margin-bottom: 2rem;
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.aboutWhy {
    padding: 1.5rem 0;
    overflow: hidden;
   
    .container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: 50% auto;
            align-items: center;
            padding-left: 1rem;
        }
        @media (min-width: $large) {
            grid-template-columns: 55% auto;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: 60% auto;
        }
        
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-left: -5rem;
            }
            @media (min-width: $large) {
                margin-left: 0;
            }
            .inner {

            }
        }
        .text {
            .inner {
                @media (min-width: $large) {
                    max-width: 538px;
                }
                h2 {
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.sustainability {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: auto 60%;
        }
        
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(-130deg, #000833 25%, #1900FF 220%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 767px) {
                width: 115%;
                right: 27%;
                bottom: auto;
                top: 0;
                height: 83%;
            }
            @media (min-width: $tablet) {
                // right: 68%;
                right: auto;
                width: 495px;
                left: -14%;
            }
        
            @media (min-width: $large) {
                left: 400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: -14%;
                }
            }
            @media (min-width: $xlarge) {
                
                &.active {
                    left: -13%;
                }
            }
        }
        .text {
            position: relative;
            .inner {
                // @media (min-width: $large) {
                //     max-width: 500px;
                // }
                @media (min-width: $xxlarge) {
                    min-width: 117%;
                    max-width: 650px;
                }
                h2 {
                    @media (min-width: $xlarge) {
                        margin-top: 3rem;
                    }
                    strong {
                        color: $green;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    @media (min-width: $xlarge) {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}

.aboutCommitted {
    padding: 1.5rem 0;
    overflow: hidden;
    
    .container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: 50% auto;
            align-items: center;
            padding-left: 1rem;
        }
        @media (min-width: $large) {
            grid-template-columns: 55% auto;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: 60% auto;
        }
        
        .bg {
            position: absolute;
            background: linear-gradient(-12deg, #000833 35%, #1900FF 165%);
            height: 85%;
            width: 126%;
            top: -2rem;
            left: 4%;
            z-index: -1;
            transform: skew(-35deg);
            @media (max-width: 767px) {
                background: linear-gradient(-220deg, #000833 35%, #1900FF 165%);
            }
            
            @media (min-width: $tablet) {
                top: 0;
                left: 33%;
                width: 75%;
            }
            @media (min-width: $large) {
                width: 90%;
                left: 18%;
            }

            @media (min-width: $large) {
                left: -400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: 18%;
                }
            }
        }
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-left: -5rem;
            }
            @media (min-width: $large) {
                margin-left: 0;
            }
            .inner {

            }
        }
        .text {
            .inner {
                @media (min-width: $large) {
                    max-width: 526px;
                }
                h2 {
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.aboutPowered {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: auto 60%;
        }
        
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(160deg, #000833 45%, #1900FF 120%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 767px) {
                width: 115%;
                height: 100%;
                bottom: 20%;
                right: 16%;
                background: linear-gradient(-125deg, #000833 45%, #1900FF 120%);
            }
            @media (min-width: $tablet) {
                // right: 68%;
                right: auto;
                width: 1430px;
                left: -13%;
            }
        
            @media (min-width: $large) {
                left: 400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: -11%;
                }
            }
            @media (min-width: $xlarge) {
                
                &.active {
                    left: -10%;
                }
            }
        }
        .text {
            position: relative;
            .inner {
                @media (min-width: $large) {
                    max-width: 600px;
                    width: 110%;
                }
                h2 {
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
.halves {
    .container {
        .half {
            &:nth-of-type(1) {
                .text {
                    max-width: 430px;

                }
            }
            .text {
                max-width: 470px;
                margin-right: auto;
            }
        }
    }
}