@import 'common';

main {
    padding-top: 76px;   
}

.aboutHero {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: auto 60%;
        }
        
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(-148deg, #000833 50%, #1900FF 150%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 639px) {
                width: 115%;
                right: 0%;
                opacity: 0!important;
            }
            @media (min-width: 640px) {
                // right: 68%;
                right: auto;
                width: 58%;
                left: 1100px;
            }
            @media (min-width: 1000px) {
                width: 52%;
            }
            
            @media (min-width: $large) {
                left: 1400px;
            }
            @media (min-width: $xxlarge) {
                width: 50%;
            }
           
        }
        .imageWrapper {
            .inner {
                &.maskBottomLeft {
                    @media (min-width: $tablet) {
                        margin-top: 0;
                    }
                }
            }
        }
        .text {
            position: relative;
            .inner {
                @media (min-width: $large) {
                    max-width: 640px;
                }
                h1 {
                    margin-bottom: 2rem;
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                .email {
                    margin-top: 3rem;
                    a {
                        display: inline-flex;
                        align-items: center;
                        @media (min-width: $large) {
                            &:hover {
                                color: $yellow;
                            }
                        }

                        svg {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}