@import 'common';

.introGradient {
    background: linear-gradient(180deg, #102210 0%, #EDEDED 62%, #EDEDED 100%);
    position: relative;
    z-index: 3;
    overflow: visible;
}

.hero .container .text {
    @media (min-width: $xxlarge) {
        padding-left: 3rem;        
    }
}

.ctaSec {
    .container {
        .titleWrapper {
            @media (min-width: $tablet) {
                max-width: 560px;
                margin-left: auto;
                margin-right: auto;
            }
            @media (min-width: $large) {
                max-width: 600px;
            }
            @media (min-width: $xxlarge) {
                max-width: 700px;
            }

        }
    }
}