@import 'common';

main {
    padding-top: 76px;   
}

.servicesHero {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .videoWrapper {
            position:relative;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgba($brightBlue, .3);
            padding-top: 0;
            overflow: hidden;
            border-radius: $border-radius;
            height: auto;
            padding: 6rem 0;        
            @media (min-width: $tablet) {
                padding: 8vh 0;        
                max-height: 676px;
                height: auto;
            }
            .reveal {
                inset: 0;
                margin: auto;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, #190099 -39.01%, #000833 100%) padding-box, linear-gradient(30deg, rgba(255, 238, 0, 0) 0%, rgba(255, 238, 0, 0.2) 30%, #FFEE00 90%);
                z-index: 3;
            }
            .bgImage {
                position: absolute;
                z-index: 1;
                overflow: hidden;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &.heroMob {
                        @media (min-width: 460px) {
                            display: none;
                        }
                    }
                    &.heroTab {
                        display: none;
                        @media (min-width: 460px) {
                            display: block;
                        }
                     
                    }
                }
            }
            
            iframe {
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                min-width: 100%;
                max-height: 820px;
                &.mobVid {
                    width: 98vw;
                    height: 84vh;
                    @media (min-width: 460px) {
                        display: none;
                    }
                }
                &.tabVid {
                    display: none;
                    @media (min-width: 460px) {
                        display: block;
                        width: 177.78vh;
                        height: 100vh;
                    }
                    @media (min-width: $large) {
                        min-width: 1500px;
                        min-height: 820px;
                    }
                }
            }
            .text {
                position: relative;
                z-index: 4;
                @media (min-width: $tablet) {
                    width: 70%;
                    min-height: 360px;
                    align-items: center;
                    display: flex;
                }
                @media (min-width: $large) {
                    width: 60%;
                }
                @media (min-width: $xlarge) {
                    width: 50%;
                }
                @media (min-width: 1600px) {
                    min-height: 440px;
                }
                .shape {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 200%;
                    background-color: rgba($blue, 0.5);
                    backdrop-filter: blur(4px);
                    z-index: 0;
                    
                    @media (min-width: $tablet) {
                        border-radius: 2rem 3.5rem 1rem 2rem;
                        transform: skew(-35deg);
                    }
                }
                .inner {
                    padding: 1.5rem;
                    z-index: 4;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    @media (min-width: 640px) {
                        padding: 2rem 3rem;
                    }
                    @media (min-height: 620px) and (min-width: $large) {
                        justify-content: center;
                    }
                    .button {
                        margin-left: .75rem;
                        width: fit-content;
                    }
                    h1, p {
                        margin: 0;
                    }
                    h1 {
                        @media (min-width: $tablet) {

                            max-width: 420px;
                        }
                        @media (min-width: $large) {
                            max-width: 450px;
                            font-size: 36px;
                        }
                        @media (min-width: $xlarge) {
                            font-size: 36px;
                        }

                    }
                    p {
                        @media (min-width: $tablet) {
                            max-width: 390px;
                        }
                        @media (min-width: $large) {
                            max-width: 455px;
                        }
                        @media (min-width: $xxlarge) {
                            max-width: 555px;
                        }
                    }
                }
                
            }
        }
    }
}
.rootedServices {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: auto 60%;
        }
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(-130deg, #000833 25%, #1900FF 220%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 767px) {
                width: 115%;
                right: 20%;
                bottom: 10%;
            }
            @media (min-width: $tablet) {
                right: auto;
                width: 485px;
                left: -16%;
            }
            @media (min-width: $large) {
                left: 400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: -11%;
                }
            }
            @media (min-width: $xlarge) {
                
                &.active {
                    left: -10%;
                }
            }
        }
        .text {
            position: relative;
            .inner {
                @media (min-width: $large) {
                    max-width: 531px;
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    @media (min-width: $tablet) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.servicesCommitted {
    padding: 1.5rem 0;
    overflow: hidden;
    
    .container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        gap: 2.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: 50% auto;
            align-items: center;
            padding-left: 1rem;
        }
        @media (min-width: $large) {
            grid-template-columns: 55% auto;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: 60% auto;
        }
        
        .bg {
            position: absolute;
            background: linear-gradient(-12deg, #000833 35%, #1900FF 165%);
            height: 85%;
            width: 126%;
            top: -2rem;
            left: 4%;
            z-index: -1;
            transform: skew(-35deg);
            @media (max-width: 767px) {
                background: linear-gradient(-220deg, #000833 35%, #1900FF 165%);
            }
            
            @media (min-width: $tablet) {
                top: 0;
                left: 33%;
                width: 75%;
            }
            @media (min-width: $large) {
                width: 90%;
                left: 18%;
            }

            @media (min-width: $large) {
                left: -400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: 18%;
                }
            }
        }
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-left: -5rem;
            }
            @media (min-width: $large) {
                margin-left: 0;
            }
            .inner {
                
            }
        }
        .text {
            
            @media (min-width: $xlarge) {
                margin-top: 2rem;
            }
            .inner {
                // @media (min-width: $large) {
                //     max-width: 600px;
                // }
                h2 {
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    @media (min-width: $tablet) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}
.servicesPowered {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: auto 60%;
        }
        
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(160deg, #000833 45%, #1900FF 120%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 767px) {
                width: 115%;
                height: 100%;
                bottom: 20%;
                right: 32%;
                background: linear-gradient(-125deg, #000833 45%, #1900FF 120%);
            }
            @media (min-width: $tablet) {
                // right: 68%;
                right: auto;
                width: 1430px;
                left: -13%;
            }
        
            @media (min-width: $large) {
                left: 400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: -11%;
                }
            }
            @media (min-width: $xlarge) {
                
                &.active {
                    left: -10%;
                }
            }
        }
        .text {
            position: relative;
            .inner {
                // @media (min-width: $large) {
                //     max-width: 500px;
                // }
                h2 {
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    @media (min-width: $tablet) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.example {
    padding: 1.5rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        gap: 2.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: 50% auto;
            align-items: center;
            padding-left: 1rem;
        }
        @media (min-width: $large) {
            grid-template-columns: 55% auto;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: 60% auto;
        }
        .bg {
            position: absolute;
            background: linear-gradient(100deg, #000833 35%, #1900FF 220%);
            height: 72%;
            width: 126%;
            bottom: 10%;
            left: 4%;
            z-index: -1;
            transform: skew(-35deg);
            @media (max-width: 767px) {
                background: linear-gradient(60deg, #000833 35%, #1900FF 220%);
            }
            
            @media (min-width: $tablet) {
                bottom: 0;
                left: 33%;
                width: 75%;
            }
            @media (min-width: $large) {
                width: 90%;
                left: 18%;
            }

            @media (min-width: $large) {
                left: -400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                width: 70%;
                &.active {
                    opacity: 1;
                    left: 30%;
                }
            }
        }
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-left: -5rem;
            }
            @media (min-width: $large) {
                margin-left: 0;
            }
            .inner {

            }
        }
        .text {
            .inner {
                @media (min-width: $large) {
                    max-width: 525px;
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    @media (min-width: $tablet) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}
.map {
    
    .container {
        .titleWrapper {
            margin-top: 2rem;
            // margin-bottom: 5rem;
        }

    }
}