@import 'common';

.introGradient {
    background: linear-gradient(180deg, #102210 0%, #EDEDED 22%, #EDEDED 100%);
    position: relative;
    z-index: 3;
    overflow: visible;
}

.hero.justText.withSmall {
    .container {
        .text {
            h1 {
                @media (max-width: 639px) {
                    max-width: 270px;
                }
            }
        }
        .description {
            @media (min-width: $large) {
                position: relative;
                top: 3rem;
                max-width: 450px;
                margin-right: 3rem;    
            }        
            @media (min-width: $xxlarge) {
                max-width: 500px;
                top: 4rem;
            }        
            @media (min-width: 1500px) {
                max-width: 550px;
            }        
        }
    }
}

.allRetreats, .pastRetreats {
    color: $black;
    .container {
        .titleWrapper {
            color: $black;
            margin: 3rem 0 5rem;
        }
        .retreatsWrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media (min-width: $tablet) {
                gap: 4rem;
            }        
            .retreat {
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                @media (min-width: $tablet) {
                    padding-bottom: 4rem;
                    gap: 4rem;
                    flex-direction: row;
                }        
                @media (min-width: $large) {
                    align-items: center;
                    opacity: 0;
                    transition: .3s ease;
                    transform: translateY(50px);
                    &.active {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }        
                        
                &:not(:last-of-type) {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: linear-gradient(90deg, rgba(16, 34, 16, 0.00) 0%, #102210 100%);
                        bottom: 0;
                        z-index: 1;
                    }
                }
                .left {
                    @media (min-width: $tablet) {
                        flex: 0 1 35%;                        
                    }        
                    @media (min-width: $large) {
                        flex: 0 1 45%;  
                        max-width: 720px;                      
                    }        
                    @media (min-width: $xlarge) {
                        flex: 0 1 50%;                        
                    }        
                    .imageWrapper {
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 30px;
                            @media (min-width: $large) {
                                max-height: 600px;                      
                            }        
                        }
                    }
                }
                .right {
                    color: $black;
                    @media (min-width: $tablet) {
                        flex: 0 1 65%;
                    }       
                    @media (min-width: $large) {
                        flex: 0 1 55%;                        
                    }        
                    @media (min-width: $xlarge) {
                        flex: 0 1 50%;                        
                    }         
                    h3 {
                        margin: 0 0 1rem;
                        font-size: clamp(22px, 2.75vw, 42px);
                        @media (min-width: $large) {
                            max-width: 600px;                       
                        }        
                    }
                    .retreat-dates {
                        @media (min-width: $large) {
                            max-width: 600px;   
                            margin: 2rem 0;
                            font-weight: 600;                    
                        }        
                    }
                    .retreat-description {
                        margin-bottom: 2rem;
                        @media (min-width: $large) {
                            max-width: 600px;                       
                        }        
                        p {
                            @include twentyFour();
                        }
                    }
                }
            }
        }
    }
}