@import 'common';

main {
    padding-top: 76px;   
}

.sustainHero {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .videoWrapper {
            position:relative;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgba($brightBlue, .3);
            padding-top: 0;
            overflow: hidden;
            border-radius: $border-radius;
            height: auto;
            padding: 6rem 0;        
            @media (min-width: $tablet) {
                padding: 8vh 0;        
                max-height: 676px;
                height: auto;
            }
            .reveal {
                inset: 0;
                margin: auto;
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, #190099 -39.01%, #000833 100%) padding-box, linear-gradient(30deg, rgba(255, 238, 0, 0) 0%, rgba(255, 238, 0, 0.2) 30%, #FFEE00 90%);
                z-index: 3;
            }
            .bgImage {
                position: absolute;
                z-index: 1;
                overflow: hidden;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &.heroMob {
                        @media (min-width: 460px) {
                            display: none;
                        }
                    }
                    &.heroTab {
                        display: none;
                        @media (min-width: 460px) {
                            display: block;
                        }
                     
                    }
                }
            }
            
            .text {
                position: relative;
                z-index: 4;
                @media (min-width: $tablet) {
                    width: 70%;
                    min-height: 360px;
                    align-items: center;
                    display: flex;
                }
                @media (min-width: $large) {
                    width: 60%;
                }
                @media (min-width: $xlarge) {
                    width: 50%;
                }
                @media (min-width: 1600px) {
                    min-height: 440px;
                }
                .shape {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 200%;
                    background-color: rgba($blue, 0.5);
                    backdrop-filter: blur(4px);
                    z-index: 0;
                    
                    @media (min-width: $tablet) {
                        border-radius: 2rem;
                        transform: skew(-35deg);
                    }
                }
                .inner {
                    padding: 1.5rem;
                    z-index: 4;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    @media (min-width: 640px) {
                        padding: 2rem 3rem;
                    }
                    @media (min-height: 620px) and (min-width: $large) {
                        justify-content: center;
                    }
                    .button {
                        margin-left: .75rem;
                        width: fit-content;
                    }
                    h1, p {
                        margin: 0;
                    }
                    h1 {
                        @media (min-width: $large) {
                            font-size: 36px;
                        }
                        @media (min-width: $xlarge) {
                            font-size: 36px;
                        }
                        strong {
                            color: $yellow;
                            font-weight: 600;
                        }
                    }
                    p {
                        @media (min-width: $tablet) {
                            max-width: 420px;
                        }
                        @media (min-width: $large) {
                            max-width: 485px;
                        }
                    }
                }
                
            }
        }
    }
}

.serviceAbout {
    overflow: hidden;
    @media (min-width: 640px) {
        overflow: visible;
    }
    .container {
        position: relative;
        .icon {
            position: absolute;
            top: 2rem;
            left: 0;
            width: 180%;
            height: 100%;
            z-index: -1;
            opacity: .7;
            @media (min-width: 640px) {
                top: -3.5rem;
                width: 100%;
            }
            @media (min-width: $tablet) {
                width: 90%;
            }
            @media (min-width: $large) {
                width: 85%;
            }
            @media (min-width: $xlarge) {
                width: 80%;
            }
            @media (min-width: $xxlarge) {
                width: 75%;
            }
        } 
       

        .text {
            padding: 5rem 0;
            @media (min-width: $tablet) {
                max-width: 65%;
            }
            @media (min-width: $large) {
                max-width: 700px;
                // padding: 7rem 0;
            }
            .inner {
                max-width: 520px;
                @media (min-width: $large) {
                    max-width: 650px; 
                }
                h2 {
                    strong {
                        color: $yellow;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.thirds {
    .container {
        .third {
            .text {
                h3 {
                    @media (min-width: 1026px) {
                        min-height: 50px;
                    }
                    @media (min-width: $large) {
                        min-height: 52px;
                    }
                    @media (min-width: $xlarge) {
                        min-height: 56px;
                    }
                }
                p {
                    &:not(:first-of-type) {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
}
.rootedServices {
    padding: 3rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 55%;
            align-items: center;
            padding-right: 1rem;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: auto 60%;
        }
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-right: -5rem;
            }
            @media (min-width: $large) {
                margin-right: 0;
            }
        }
        .bg {
            position: absolute;
            background: linear-gradient(-130deg, #000833 25%, #1900FF 220%);
            height: 100%;
            width: 45%;
            bottom: 0;
            right: 66%;
            z-index: -1;
            transform: skew(35deg);
            @media (max-width: 767px) {
                width: 115%;
                right: 20%;
                bottom: 10%;
            }
            @media (min-width: $tablet) {
                right: auto;
                width: 485px;
                left: -16%;
            }
            @media (min-width: $large) {
                left: 400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                &.active {
                    opacity: .7;
                    left: -11%;
                }
            }
            @media (min-width: $xlarge) {
                
                &.active {
                    left: -10%;
                }
            }
        }
        .text {
            position: relative;
            .inner {
                @media (min-width: $large) {
                    max-width: 500px;
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                h2 {
                    strong {
                        font-weight: 600;
                        color: $yellow;
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    @media (min-width: $tablet) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.example {
    padding: 1.5rem 0;
    overflow: hidden;
    .container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        gap: 2.5rem;
        @media (min-width: $tablet) {
            display: grid;
            gap: 1rem;
            grid-template-columns: 50% auto;
            align-items: center;
            padding-left: 1rem;
        }
        @media (min-width: $large) {
            grid-template-columns: 55% auto;
        }
        @media (min-width: $xxlarge) {
            grid-template-columns: 60% auto;
        }
        .bg {
            position: absolute;
            background: linear-gradient(100deg, #000833 35%, #1900FF 220%);
            height: 72%;
            width: 126%;
            bottom: 10%;
            left: 4%;
            z-index: -1;
            transform: skew(-35deg);
            @media (max-width: 767px) {
                background: linear-gradient(60deg, #000833 35%, #1900FF 220%);
            }
            
            @media (min-width: $tablet) {
                bottom: 0;
                left: 33%;
                width: 75%;
            }
            @media (min-width: $large) {
                width: 90%;
                left: 18%;
            }

            @media (min-width: $large) {
                left: -400px;
                opacity: 0;
                transition: .5s ease;
                transition-delay: .35s;
                width: 70%;
                &.active {
                    opacity: 1;
                    left: 30%;
                }
            }
        }
        .imageWrapper {
            @media (min-width: $tablet) {
                margin-left: -5rem;
            }
            @media (min-width: $large) {
                margin-left: 0;
            }
            .inner {

            }
        }
        .text {
            .inner {
                @media (min-width: $large) {
                    max-width: 500px;
                }
                p {
                    &:last-of-type {
                        @media (min-width: $tablet) {
                            margin-bottom: 0;
                        }
                    }
                }
                h2 {
                    strong {
                        font-weight: 600;
                        color: $yellow;
                    }
                }
                .button {
                    margin-left: 1rem;
                    margin-top: 1rem;
                    @media (min-width: $tablet) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.why {
    padding-bottom: 3rem;
    .container {
        padding: 0 1rem;
        .inner {
            border-radius: 5px;
            padding: 3rem 2rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            position: relative;
            overflow: hidden;
            border: none!important;
            @media (max-width: 500px) {
                padding: 2.5rem 1.25rem;
            }
            @media (min-width: $large) {
                padding: 3rem;                
            }
            @media (min-width: $large) {
                &.active {
                    &:after {
                        animation: shimmer 1.5s linear 0.25s;
                    }
                }
            }
            @media (min-width: $xlarge) {
                padding: 4rem;                
            }
          
            &:before {
                content: '';
                position: absolute;
                inset: 2px;
                background: linear-gradient(0deg, #190099 -39.01%, #000833 100%);
                border-radius: 5px;
                z-index: 1;
                pointer-events: none;
            }
            &:after {
                content: '';
                position: absolute;
                inset: -160%;
                background: linear-gradient(30deg, #00083310 25%, #2A00FF 75%);
                z-index: 0;
                pointer-events: none;
                opacity: 1;
            }

            .title {
                position: relative;
                z-index: 3;
                h3 {
                    font-size: 26px;  
                    margin-top: 0;
                    margin-bottom: 2rem;      
                    color: $yellow;
                    @media (min-width: $tablet) {
                        font-size: 32px;      
                    }
                    @media (min-width: $large) {
                        font-size: 38px;
                    }
                    @media (min-width: $xlarge) {
                        font-size: 40px;
                    }   
                }
            }
            
            .bottom {
                position: relative;
                z-index: 3;
                
            
                p, li {
                    font-size: 1rem;
                    @media (min-width: $large) {
                        font-size: 22px;
                    }
                    @media (min-width: $xlarge) {
                        font-size: 24px;
                    }   
                }
                ul {
                    padding-left: 4.5rem;
                    margin-top: 3rem;
                    margin-bottom: 0;
                    @media (min-width: $tablet) {
                        columns: 2;
                        column-gap: 10rem;                        
                    }
                    @media (min-width: $large) {
                        padding-left: 5.5rem;
                        margin-top: 4rem;
                    }
                    li {
                        list-style: none;
                        position: relative;
                        margin-bottom: 1.5rem;
                        @media (min-width: $large) {
                            max-width: 500px;
                        }

                        &:before {
                            content: "";
                            top: .5rem;
                            transform: skew(-30deg);
                            left: -4.5rem;
                            height: 8px;
                            width: 40px;
                            border-radius: 2px;
                            position: absolute;
                            background-color: #2A00FF;
                            @media (min-width: $large) {
                                left: -5.5rem;
                                top: .75rem;
                                height: 10px;
                                width: 50px;                                
                            }
                        }
                    }
                }
                
            }
        }
    }
}