@import 'common';

.hero {
    
        &.justText {
            .container {
                @media (min-width: $large) {
                    padding-bottom: 4rem;
                }        
                .description {
                    @media (min-width: $large) {
                        top: 1rem;
                        position: relative;
                    }        
                    @media (min-width: $xlarge) {
                        top: 4rem;
                    }        
                    @media (min-width: 1600px) {
                        top: 3.5rem;
                    }        
                   
                }
            }
        }        
    
}

.introGradient {
    background: linear-gradient(180deg, #102210 0%, #EDEDED 71.62%, #EDEDED 100%);
    position: relative;
    z-index: 3;
    overflow: visible;
}
.studio {
    &:nth-of-type(1) {
        @media (min-width: $xxlarge) {
            margin-bottom: 9rem;
        }
        .container {
            .top {
                .text {
                    h2 {
                        &:after {
                            background: linear-gradient(90deg,rgba(104, 136, 104, 1) 0%, rgba(104, 136, 104, 0) 100%);
                        }
                    }
                }
                .timeTable {
                    @media (min-width: $xxlarge) {
                        margin-top: -11rem;
                    }
                }
            }
        }
    }
    &:nth-of-type(2) {
        margin-top: 5rem;
        margin-bottom: -9rem;
        @media (min-width: $tablet) {
            margin-bottom: -14rem;
        }
        @media (min-width: $large) {
            opacity: 0;
            transition: .3s ease;
            transform: translateY(50px);
            &.active {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .container {
            .top {
                .text {
                    color: $black;
                    h2 {
                        &:after {
                            background: linear-gradient(90deg,rgba(16, 34, 16, 1) 0%, rgba(16, 34, 16, 0) 100%);
                            
                        }
                    }
                }
                .timeTable {
                    @media (min-width: $xxlarge) {
                        margin-top: -9rem;
                    }
                }
            }
        }
    }
    .container {
        @media (min-width: $xxlarge) {
            padding: 0 5rem;
        }

        .top {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @media (min-width: 640px) {
                flex-direction: row;
            }
            .text {
                margin-bottom: 1rem;
                @media (min-width: 640px) {
                    min-width: 330px;
                }
                @media (min-width: $large) {
                    width: 100%;
                }
                h2 {
                    position: relative;
                    &:after {
                        content: "";
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        position: absolute;
                        height: 1px;
                        width: 30vw;
                        @media (min-width: $tablet) {
                            right: auto;
                            left: 0;
                            width: 55vw;
                            max-width: 700px;
                            transform: translateX(calc(40vw - 2rem));                   
                        }
                        @media (min-width: 1650px) {
                            transform: translateX(0);                   
                            left: 550px;

                        }
                    }
                }
                p {
                    @include twentyFour();
                }
            }
            .timeTable {
                width: 100%;
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                z-index: 2;
                @media (min-width: $tablet) {
                    max-width: 100%;
                }
                @media (min-width: $large) {
                    max-width: 750px;
                    margin-right: 1rem;
                }
                @media (min-width: $xxlarge) {
                    max-width: 900px;
                }
                
                &:after {
                    content: "";
                    inset: -.5rem;
                    margin: auto;
                    position: absolute;
                    z-index: 1;
                    border-radius: 30px;
                    background-color: rgba(#688868, .3);
                   
                }
                iframe {
                    border-radius: 25px;
                    position: relative;
                    z-index: 2;
                    @media (min-width: $tablet) {
                        max-height: 600px;
                    }
                    @media (min-width: $xxlarge) {
                        max-height: 800px;
                    }
                }
            }
        }
    }
}
.ctaSec {
    @media (min-width: $tablet) {
        padding: 11rem 0;
    }
}